# ===========================
# COMMON DEPENDENCIES
# ===========================
typing
requests
django>=1.10
psycopg2
matplotlib
pandas
numpy
scikit-learn
seaborn

# ===========================
# STACKOVERFLOW
# ===========================
# libarchive requires sudo apt-get install libarchive-dev
libarchive


# ===========================
# GHTORRENT
# ===========================
# the whole package is deprecated

# ===========================
# PYPI
# ===========================
# requires docker: sudo apt-get install docker-compose

# ===========================
# NPM
# ===========================
ijson
