# common dependencies
requests
django>=1.10
# libarchive requires sudo apt-get install libarchive-dev
libarchive

# SCRAPER - now it's replaced with GHTorrent
# pygit2
# PyGithub

# STACKOVERFLOW
pandas
numpy


# GHTORRENT


# PYPI
# requires docker: sudo apt-get install docker-compose
