# ===========================
# COMMON DEPENDENCIES
# ===========================
fabric
typing
requests
pandas>=0.21
numpy
networkx
scikit-learn
matplotlib
# seaborn
# dask
# distributed

# ===========================
# STACKOVERFLOW
# ===========================
# libarchive requires sudo apt-get install libarchive-dev
libarchive

# ===========================
# PYPI
# ===========================
# requires docker: sudo apt-get install docker-compose

# ===========================
# NPM
# ===========================
# requires yajl: sudo apt-get install yajl-tools
ijson
